.title{
    text-align: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

.header{
    text-align: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.test{
    color:aqua;
}

.row{
    display: table;
    color: bisque;
}

.column {
    display: table-cell;
}